<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Quản lý PBC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type = "text/css" href="styles/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link type = "text/css" href="styles/manager.css" rel="stylesheet" />
    <link type = "text/css" href="../static/styles/donvi.css" rel="stylesheet" />
    <script type="text/javascript" src="javascript/manager.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
    <header>
        <div class = "homepage">
            <img class = "homepage" id="homeIcon" src = "Assets/flower.png">
            <a>GROUP 1</a>
        </div>
        <div class = "notice">
            <i class="fa fa-bell"></i>
            <a>Thông báo</a>
        </div>
        <div class = "account">
            <img src="Assets/coffe.png">
            <a>Tài khoản</a>
        </div>
    </header>
    <div class = "menu">
        <ul>
            <li><i class="fa fa-home"></i><a href = "homepage">Trang chủ</a></li>
            <li><i class="fa fa-search"></i><a href = "searching">Tìm kiếm</a></li> 
            <li><i class="fa fa-server"></i><a href = "quanly">Quản lý phiếu</a></li>
            <li><i class="fa fa-info"></i><a href = "gioithieu">Giới thiệu</a></li>
            <li><i class="fa fa-book"></i><a href = "huongdan">Hướng dẫn</a></li>         
        </ul>
    </div>
    <content>
        <a>Các Đơn Vị</a>
        <form class = "donvi" action = "" method="GET">           
            <div style="width: 100%" id="newdv1">
                <div style=" padding: 100px 200px;display: flex;align-items: center;justify-content: space-evenly;flex-wrap: wrap;gap: 100px;" class="donvis">
                    <div th:each="thanhPho : ${thanhPhos}" style="display: flex;align-items: center;justify-content: center;flex: 1 0 calc(25% - 10px);max-width: calc(33.333% - 10px);padding: 0 20px;background-color: aqua;border-radius: 20px">
                        <p>
                            <a style="color: black; font-size: 30px; margin: 0 0;text-decoration: none;" th:text="${thanhPho.tenThanhPho}" th:href="@{/thanhPho/{maThanhPho}/nhiemKy(maThanhPho=${thanhPho.maThanhPho})}"></a>
                        </p>
                    </div>
                </div>
<!--                <table border="1">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn vị</th>-->
<!--                        <th>Tên đơn vị</th>-->
<!--                        <th>Thao tác</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="thanhPho : ${thanhPhos}">-->
<!--                        <td>-->
<!--                            <a th:text="${thanhPho.maThanhPho}" th:href="@{/thanhPho/{maThanhPho}/nhiemKy(maThanhPho=${thanhPho.maThanhPho})}"></a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:href="@{/thanhPho/edit/{id}(id=${thanhPho.maThanhPho})}">Edit</a>-->
<!--                            <a th:href="@{/thanhPho/delete/{id}(id=${thanhPho.maThanhPho})}">Delete</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </div>
        </form>
        <!--Hàm giao diện thêm đơn vị-->
        <button class="add-button" onclick="openForm()">Thêm đơn vị</button>
         <div class="form-popup" id="addForm">
             <form class="form-container" method="post" th:action="@{/add-thanh-pho}" th:object="${thanhPho}">
                 <h1>Them Don Vi</h1>
                 <label for="MaDV"><b>Ma DV</b></label>
                 <input type="text" th:field="*{maThanhPho}" placeholder="Nvarchar" id="MaDV" name="MaDV" required>
                 <label for="TenDV"><b>Ten Don Vi</b></label>
                 <input type="text" th:field="*{tenThanhPho}" placeholder="Nvarchar" id="TenDV" name="TenDV" required>
                 <button type="submit" class="btn">Thêm</button>
                 <button type="button" class="btn cancel" onclick="closeForm()">Huỷ</button>
             </form>
          </div> 
    </content>
</body>
</html>